body {
    background-color: rgb(56, 56, 56);
  }
  
h1 {
    color: rgb(255, 0, 0);
    text-align: center;
  }
  
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #a388bd
  }

img {
    width: 300px;
    border: 3px solid #003cff;
    padding: 10px;
}